body{
    background: #EBEBEB;
}
.white{
    color: #fff;
}
.bg-nav-KS {
    background-color: rgba(9,53,92,0.8)!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
}
a:hover{
    color: #0000FF;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #4EB2F0;
}
.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 4px solid #09355C;
}
.section-heading-spacer-2 {
    float: left;
    width: 200px;
    border-top: 4px solid #fff;
}
.section-heading-spacer-3 {
    width: 200px;
    border-top: 4px solid #09355C;
}
.section-heading-spacer-4 {
    width: 200px;
    border-top: 4px solid #fff;
}
.content-section-a {
    padding: 150px 0;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(74%, #EBEBEB),to(#C4C4CE));
    background: -webkit-linear-gradient(top,#EBEBEB 74%,#C4C4CE );
    background: linear-gradient(to bottom,#EBEBEB 74%,#C4C4CE );
}
.content-section-b {
    padding: 75px 0;
    background: #EBEBEB;
}

.p-t-100{
    padding-top:100px;
}
.p-t-b-70{
    padding-top:70px;
    padding-bottom:70px;
}
.p-t-b-30{
    padding-top:20px;
    padding-bottom:30px;
}
.p-t-50{
    padding-top:50px;
}
.p-r-70{
    padding-right: 70px;
}
.b-r-4{
    border-radius: 4px; 
}
.f-s-25{
     font-size: 25px;
}
.center{
    text-align: center
}
.right{
    text-align: right;
}
left{
    text-align: left;
}
.content-section-b2{
    background-color: rgba(9,53,92,0.8)!important;
}
.img-responsive{
    max-width: 100%; 
}
.hover01 img:hover  {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
    opacity: .8;
}
.banner {
    padding: 20px 0;
    color: #f8f8f8;
    background: #0E4E95;
    background-size: cover;
}
footer {
    padding: 10px 0;
    padding-top: 17px;
    background-color: #09355C;
    color: #fff;
}

